/* GENERAL */

*, :after, :before {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-color: #2d3436;
    color: #dfe6e9;
}

/* HEADER */

#header {
    width: 100%;
    color: black;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;
}

h1 {
    font-size: 2.5em;
}

#description {
    font-size: 1em;
}

#forest {
    width: 100%;
}

#logo {
    fill: black;
    display: block;
    margin: 100px auto 0px auto;
    width: 250px;
    height: 250px;
}

@media only screen and (min-width: 768px) {
    #logo {
        margin: 20px auto 0px auto;
        width: 70%;
        height: 70%;
    }
}

@media only screen and (max-width: 480px) {
    @supports (background: url('img/forest-480.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-480.webp') no-repeat center center;
            height: 320px;
            margin-bottom: 250px;
            padding-top: 10px;
        }
    }
    @supports not (background: url('img/forest-480.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-480.png') no-repeat center center;
            height: 320px;
            margin-bottom: 250px;
            padding-top: 10px;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
    @supports (background: url('img/forest-640.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-640.webp') no-repeat center center;
            height: 427px;
            margin-bottom: 150px;
            padding-top: 20px;
        }

    }
    @supports not (background: url('img/forest-640.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-640.png') no-repeat center center;
            height: 427px;
            margin-bottom: 150px;
            padding-top: 20px;
        }
    }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
    @supports (background: url('img/forest-768.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-768.webp') no-repeat center center;
            height: 512px;
            margin-bottom: 100px;
            padding-top: 30px;
        }
    }
    @supports not (background: url('img/forest-768.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-768.png') no-repeat center center;
            height: 512px;
            margin-bottom: 100px;
            padding-top: 30px;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    @supports (background: url('img/forest-1024.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-1024.webp') no-repeat center center;
            height: 683px;
            padding-top: 50px;
        }
    }
    @supports not (background: url('img/forest-1024.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-1024.png') no-repeat center center;
            height: 683px;
            padding-top: 50px;
        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 2048px) {
    @supports (background: url('img/forest-2048.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-2048.webp') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }
    @supports not (background: url('img/forest-2048.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-2048.png') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }
}

@media only screen and (min-width: 2049px) and (max-width: 4096px) {
    @supports (background: url('img/forest-4096.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-4096.webp') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }
    @supports not (background: url('img/forest-4096.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest-4096.png') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }
}

@media only screen and (min-width: 4097px) {
    @supports (background: url('img/forest.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest.webp') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }
    @supports not (background: url('img/forest.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45,52,54, 1), rgba(0, 0, 0, 0)), url('img/forest.jpg') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }
}

/* SOCIAL */

#social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin: 0px 40px 40px 40px;
}

#social a {
    font-size: 2em;
    color: #b2bec3;
    text-decoration: none;
}

#social svg {
    height: 1.5em;
    vertical-align: middle;
    fill: #808080;
    margin: 0 10px 0 0;
}

@media only screen and (min-width: 768px) {
    #social {
        flex-wrap: nowrap;
        margin: 40px 40px 100px 40px;
    }
    #social svg {
        transition: fill 0.5s ease;
    }
    #social svg:hover {
        fill: white;
    }
}

/* LIVE */

#live {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;
}

.live-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.live {
    height: 250px;
    text-align: right;
    position: relative;
}

.live-year p {
    font-size: 2em;
    padding: 10px 0 10px 0;
}

.live-image {
    height: 250px;
    width: 250px;
    opacity: 60%;
}

.live-description {
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    bottom: 0%;
    padding: 10px 20px 10px 20px;
    background-color: #2d3436;
}

.live-description h2 {
    font-weight: 400;
    font-size: 1em;
    margin: 0px;
}

.live-description p {
    margin: 0px;
}

@media only screen and (min-width: 768px) {
    #live {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 50px;
        padding-bottom: 0px;
    }
    .live-row {
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 100%;
    }
    .live-year p {
        padding: 50px;
    }
    .live-image {
        transition: opacity 0.5s ease;
    }
    .live-image:hover {
        opacity: 100%;
    } 
    .live-description p {
        margin: 0px;
    }
}

/* ALBUMS */

#albums {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    padding-bottom: 100px;
}

#albums iframe {
    width: 100%;
    border: 0px;
}

@media only screen and (min-width: 768px) {
    #albums {
        margin: 100px 0px 100px 0px;
        padding-bottom: 10px;
    }
    #albums iframe {
        width: 50%;
    }
}

/* GALLERY */

#gallery {
    display: none;
}

@media only screen and (min-width: 768px) {
    #gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .gallery-img {
        width: 100%;
        opacity: 0.7;
    }
}