/* GENERAL */

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-color: #2d3436;
    color: #dfe6e9;
}

/* HEADER */

#header {
    width: 100%;
    color: black;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;
}

h1 {
    font-size: 2.5em;
}

#description {
    font-size: 1em;
}

#forest {
    width: 100%;
}

#logo {
    fill: black;
    display: block;
    margin: 10em auto 0em auto;
    width: 250px;
    height: 250px;
}

#rotate {
    transform-origin: 50% 50%;
    z-index: 50;
}

@media only screen and (min-width: 768px) {
    #logo {
        margin: 2em auto 0em auto;
        width: 70%;
        height: 70%;
    }
}

@media only screen and (max-width: 480px) {
    @supports (background: url('img/forest-480.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-480.webp') no-repeat center center;
            height: 320px;
            margin-bottom: 250px;
            padding-top: 10px;
        }
    }

    @supports not (background: url('img/forest-480.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-480.png') no-repeat center center;
            height: 320px;
            margin-bottom: 250px;
            padding-top: 10px;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
    @supports (background: url('img/forest-640.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-640.webp') no-repeat center center;
            height: 427px;
            margin-bottom: 150px;
            padding-top: 20px;
        }

    }

    @supports not (background: url('img/forest-640.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-640.png') no-repeat center center;
            height: 427px;
            margin-bottom: 150px;
            padding-top: 20px;
        }
    }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
    @supports (background: url('img/forest-768.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-768.webp') no-repeat center center;
            height: 512px;
            margin-bottom: 100px;
            padding-top: 30px;
        }
    }

    @supports not (background: url('img/forest-768.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-768.png') no-repeat center center;
            height: 512px;
            margin-bottom: 100px;
            padding-top: 30px;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    @supports (background: url('img/forest-1024.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-1024.webp') no-repeat center center;
            height: 683px;
            padding-top: 50px;
        }
    }

    @supports not (background: url('img/forest-1024.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-1024.png') no-repeat center center;
            height: 683px;
            padding-top: 50px;
        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 2048px) {
    @supports (background: url('img/forest-2048.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-2048.webp') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }

    @supports not (background: url('img/forest-2048.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-2048.png') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }
}

@media only screen and (min-width: 2049px) and (max-width: 4096px) {
    @supports (background: url('img/forest-4096.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-4096.webp') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }

    @supports not (background: url('img/forest-4096.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest-4096.png') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }
}

@media only screen and (min-width: 4097px) {
    @supports (background: url('img/forest.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest.webp') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }

    @supports not (background: url('img/forest.webp')) {
        #header {
            background: linear-gradient(to top, rgba(45, 52, 54, 1), rgba(0, 0, 0, 0)), url('img/forest.jpg') no-repeat center center;
            height: 750px;
            padding-top: 80px;
        }
    }
}

/* SOCIAL */

#social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
    margin: 0em 4em 4em 4em;
    z-index: 100;
}

#social a {
    font-size: 2em;
    color: #b2bec3;
    text-decoration: none;
}

#social svg {
    height: 1.5em;
    vertical-align: middle;
    fill: #808080;
    margin: 0 1em 0 0;
}

@media only screen and (min-width: 768px) {
    #social {
        flex-wrap: nowrap;
    }

    #social svg {
        transition: fill 0.5s ease;
    }

    #social svg:hover {
        fill: white;
    }
}

/* EPK */

#press-kit {
    margin: 1em auto 5em auto;
    text-align: center;
}

#press-kit-button {
    border: 1px dashed #808080;
    padding: 1em 2em;
    margin: 0 1em;
}

#press-kit a {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    #press-kit-button {
        margin: 0 13em;
    }

    #press-kit-button:hover {
        font-weight: 800;
        border-style: solid;
    }
}

/* LIVE */

#live {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 9em;
}

.live-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.live {
    height: 250px;
    text-align: right;
    position: relative;
}

.live-year h2 {
    font-size: 2em;
    padding: 1em 0;
}

.live-image {
    height: 250px;
    width: 250px;
    opacity: 60%;
}

.live-description {
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    bottom: 0%;
    padding: 1em 2em;
    background-color: #2d3436;
}

.live-description h3 {
    font-weight: 400;
    font-size: 1em;
    margin: 0em;
}

.live-description p {
    margin: 0em;
}

@media only screen and (min-width: 768px) {
    #live {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 4em;
        padding-bottom: 0em;
    }

    .live-row {
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 100%;
    }

    .live-year h2 {
        padding: 2em;
    }

    .live-image {
        transition: opacity 0.5s ease;
    }

    .live-image:hover {
        opacity: 100%;
    }

    .live-description p {
        margin: 0em;
    }
}

/* ALBUMS */

#albums {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1em;
    padding-bottom: 4em;
}

#albums iframe {
    width: 100%;
    border: 0em;
    overflow: hidden;
    border-radius: 1em;
}

@media only screen and (min-width: 768px) {
    #albums {
        margin: 9em 0em 4em 0em;
        padding-bottom: 1em;
    }

    #albums iframe {
        width: 50%;
    }
}

/* PINS */

#pins {
    text-align: center;
    margin: 0em 0em 4em 0em;
    padding-bottom: 4em;
}

.pin {
    height: 30px;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .pin {
        height: 50px;
    }
}

#pin-1 {
    animation: pin 1700ms infinite;
    animation-delay: 100ms;
}

#pin-2 {
    animation: pin 1700ms infinite;
    animation-delay: 200ms;
}

#pin-3 {
    animation: pin 1700ms infinite;
    animation-delay: 300ms;
}

#pin-4 {
    animation: pin 1700ms infinite;
    animation-delay: 400ms;
}

#pin-5 {
    animation: pin 1700ms infinite;
    animation-delay: 500ms;
}

#pin-6 {
    animation: pin 1700ms infinite;
    animation-delay: 600ms;
}

#pin-7 {
    animation: pin 1700ms infinite;
    animation-delay: 700ms;
}

#pin-8 {
    animation: pin 1700ms infinite;
    animation-delay: 800ms;
}

#pin-9 {
    animation: pin 1700ms infinite;
    animation-delay: 900ms;
}

#pin-10 {
    animation: pin 1700ms infinite;
    animation-delay: 1000ms;
}

#pin-11 {
    animation: pin 1700ms infinite;
    animation-delay: 1100ms;
}

#pin-12 {
    animation: pin 1700ms infinite;
    animation-delay: 1200ms;
}

#pin-13 {
    animation: pin 1700ms infinite;
    animation-delay: 1300ms;
}

#pin-14 {
    animation: pin 1700ms infinite;
    animation-delay: 1400ms;
}

#pin-15 {
    animation: pin 1700ms infinite;
    animation-delay: 1500ms;
}

#pin-16 {
    animation: pin 1700ms infinite;
    animation-delay: 1600ms;
}

@keyframes pin {
    0% {
        opacity: 0
    }

    10%,
    100% {
        opacity: 1
    }
}

/* GALLERY */

#gallery {
    display: none;
}

@media only screen and (min-width: 768px) {
    #gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin: 0;
        background-color: black;
    }

    .gallery-image {
        width: 100%;
        opacity: 0.7;
    }
}

/* FOOTER */

footer {
    font-family: 'Courier New', monospace;
    background-color: black;
    text-align: center;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 1em 0;
}

footer a {
    color: white;
}

@media only screen and (min-width: 768px) {
    footer a {
        transition: all 0.5s ease;
    }

    footer a:hover {
        font-weight: 800;
    }
}